body {
  font-family: BlinkMacSystemFont;
}

.actions {
  display: block;
  margin-bottom: 1em;
}

img {
  margin: 1em;
  max-width: 225px;
  display: inline-block;
  position: relative;
  border: 5px solid transparent;
}

img.selected {
  border: 5px solid dodgerblue;
}